<% layout('layouts/biolerplates') %>
<%- include('../partials/navbar') %>
<div class="row  mx-auto">
    <form action="/Products/<%=FoundProduct.id%>?_method=PATCH" method="POST"  class="needs-validation  " novalidate >
    <div class="mb-3 m-2">       
        <label for="name">name :</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Name of the product" value="<%=FoundProduct.name%>" required>
    </div>
    <div class="mb-3 ">
        <label for="price">Price :</label>
        <input type="text" id="price"  class="form-control" name="price" placeholder="Price of the product"  value="<%=FoundProduct.price%>" required>

    </div>
    <div class="mb-3">
        <label for="img">Image:</label>
        <input type="text" id="img"  class="form-control" name="img" placeholder="image url of the product"  value="<%=FoundProduct.img%>" required>

    </div>
    <div class="mb-3">
        <label for="desc">Description :</label>
        <textarea name="desc"  class="form-control" id="desc" rows="5" placeholder="Description of the product" required> <%=FoundProduct.desc%></textarea><br/>

    </div>
   
   <button type="submit" class="btn btn-success">edit product</button>
   </form>

</div>
<script>
    // this is iife(imediately invoked function expression),Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


</body>
</html>