  <% layout('layouts/biolerplates') %>
  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %>

  <div class="row">
    <% for(let item of products){ %>
   
        <div class=" col-lg-4 mt-3">

            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="<%= item.img %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= item.name%></h5>
                  <h5 class="card-title"><%= item.price%></h5>
                  <p class="card-text"><%= item.desc%></p>
                  <a href="/products/<%=item._id %>" class="btn btn-primary">Buy Now</a>
                  <%   if(currentUser && currentUser.role === 'seller'){%>
                  <form action="/products/<%=item._id %>?_method=DELETE" method="POST" class="d-inline-block">
                    <button class="btn btn-sm btn-danger">delete</button>
                  </form>
                <%}%>
                </div> 
               </div>
        </div>

            
   
    <%  } %>

  </div>


  </body>
  </html>